body {
    margin: 0px;
font-family: 'Times New Roman', Times, serif;
}

#mainWrapper {
    margin: 30px;
    padding: 20px;
    border: 3px solid green;
    background-color: RGB(240, 207, 190);
}
#search-box {
    display: flex;
}

form {
    background-color: RGB(223, 207, 190);
    padding: 10px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: large;
}

header {
    font-size: x-large;
    font-weight: bold;
}

#courses {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    }

h4 {
      margin: 0px;
    }

h5{
    margin: 5px;
    margin-left: 0px;
    font-weight: lighter;
    }

p {
    margin: 0px;
}    

#courses > div {
    background-color: RGB(223, 207, 190);
    padding: 10px;
    border-radius: 6px;
    border: solid green 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    flex-shrink: 1;
}

#container {
    margin-top: 15px;
    padding: 6px;
    border-radius: 6px;
    border: solid black 2px;
    background-color: RGB(223, 207, 190);
}

#courses > .done {
    background-color: lightgreen;
}

#students > .done {
    background-color: lightgreen;
}

#courses > .notDone {
    background-color: RGB(225, 93, 68);
}

#students > .notDone {
    background-color: RGB(225, 93, 68);
}

#responsible {
    margin-right: 20px;
}

#faculty {
    display: flex;
    flex-shrink: 1;
}

#responsible > p {
    margin-left: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: RGB(225, 93, 68);
    border: 3px solid green;
}

#teachers > div {
    display: flex;
    flex-shrink: 1;
}

#teachers > div > :nth-child(1) {
    margin-left: 20px;
}

#teachers > div > p {
    margin-left: 5px; 
    padding: 10px;
    border-radius: 6px;
    border: solid green 2px;
    background-color: RGB(240, 210, 190);
}

#students {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#students > div {
    margin-left: 5px;
    padding: 10px;
    border-radius: 6px;
    background-color: lightcoral;
    border: solid green 2px;
}