body {
    margin: 0px;
font-family: 'Times New Roman', Times, serif;
}

#mainWrapper {
    margin: 30px;
    padding: 20px;
    border: 3px solid green;
}
#search-box {
    display: flex;
}

form {
    background-color: RGB(223, 207, 190);
    padding: 10px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: large;
}

header {
    font-size: x-large;
    font-weight: bold;
}

#courses {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    }

h4 {
      margin: 0px;
    }

h5{
    margin: 5px;
    margin-left: 0px;
    font-weight: lighter;
    }

p {
    margin: 0px;
}    

#courses > div {
    background-color: RGB(223, 207, 190);
    padding: 10px;
    border-radius: 6px;
    border: solid green 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    flex-shrink: 1;
}

#container {
    margin-top: 15px;
    padding: 6px;
    border-radius: 6px;
    border: solid black 2px;
    background-color: RGB(223, 207, 190);
}
